@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.b-AboutMePage{
    background-color: #5AC384 !important;
}

.headerStyle{
    color: white;
    font-size: 5rem;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

h3{
    color: white;
    font-size: 5rem;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

.aboutMeTextStyle{
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

@media(max-width: 1399px)
{
.aboutMeTextStyle{
    color: white;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}

}
@media(max-width: 1199px)
{
    .aboutMeTextStyle{
        color: white;
        font-size: 23px;
        font-family: 'Roboto', sans-serif;
    }
    .danImage{
        width: 32rem !important;
    }
    .mb-custom{
        margin-bottom: 10px!important;
    }
}
