@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg-ContactMe {
  background-color: #1a213e !important;
}

.smallInputStyle {
  border-radius: 30px;
  width: 15vw;
  font-family: 'Roboto', sans-serif;
}
.mediumInputStyle {
  border-radius: 30px;
  width: 35vw;
  font-family: 'Roboto', sans-serif;
}
.largeInputStyle {
  border-radius: 30px;
  width: 35vw;
  font-family: 'Roboto', sans-serif;
}

.submitBtnStyle {
    color: white;
    background-color: #D25858;
    border-color: #D25858 !important;
    border-radius: 30px;
    height: 5vh;
    margin-bottom: 10rem;
    margin-top: 1rem;
    width: 35vw;
    font-family: 'Archivo', sans-serif;
}

.submitBtnStyle:hover {
    color: white;
    background-color: #5AC384;
    border-color: #5AC384 !important;
    border-radius: 30px;
    height: 5vh;
    margin-bottom: 10rem;
    margin-top: 1rem;
    width: 35vw;
    font-family: 'Archivo', sans-serif;
}
