@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg-homePage{
    background-color:#1A213E !important;
  }

  .homepage-text{
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
  }

  h1{
    color:white;
    font-size: 5rem;
    margin-top: 12rem!important;
    font-family: 'Archivo', sans-serif;
  }

  .customButton{
    color: white;
    background-color: #5AC384 !important;
    border-radius: 30px !important;
    border-color: #5AC384 !important;
    padding: 0.5rem 2rem !important;
    width: 13vw!important;
  }
  .customButton:hover{
    color: white;
    background-color: #D25858 !important;
    border-radius: 30px !important;
    border-color: #D25858 !important;
    padding: 0.5rem 2rem !important;
    width: 13vw!important;
  }

  .customBtnTxt{
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .linkStyle{
    text-decoration: none;
  }

  .m-bottomHompage{
    margin-bottom: 10vh;
  }

  @media(max-width: 1700px)
  {
  .homepage-text{
    color: white;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
  }
  .computerImg{
    width:40rem !important;
  }

  }
  
  @media(max-width: 1501px)
{
  .homepage-text{
    color: white;
    font-size: 22px !important;
    font-family: 'Roboto', sans-serif;
  }
  .computerImg{
    width:40rem !important;
  }
}
@media(max-width: 1399px)
{
  .homepage-text{
    color: white;
    font-size: 22px !important;
    font-family: 'Roboto', sans-serif;
  }
  .computerImg{
    width:35rem !important;
  }
  .customButton{
    color: white;
    background-color: #5AC384 !important;
    border-radius: 30px !important;
    border-color: #5AC384 !important;
    padding: 0.5rem 2rem !important;
    width: 15vw!important;
  }
  .customButton:hover{
    color: white;
    background-color: #D25858 !important;
    border-radius: 30px !important;
    border-color: #D25858 !important;
    padding: 0.5rem 2rem !important;
    width: 15vw!important;
  }

}
@media(max-width: 1199px)
{
  .homepage-text{
    color: white;
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif;
  }
  .computerImg{
    width:30rem !important;
  }
  h1{
    color:white;
    font-size: 5rem;
    margin-top: 7rem!important;
    font-family: 'Archivo', sans-serif;
  }
  .customButton{
    color: white;
    background-color: #5AC384 !important;
    border-radius: 30px !important;
    border-color: #5AC384 !important;
    padding: 0.5rem 2rem !important;
    width: 17vw!important;
  }
  .customButton:hover{
    color: white;
    background-color: #D25858 !important;
    border-radius: 30px !important;
    border-color: #D25858 !important;
    padding: 0.5rem 2rem !important;
    width: 17vw!important;
  }
  
}
@media(max-width: 991px)
{
  .customButton{
    color: white;
    background-color: #5AC384 !important;
    border-radius: 30px !important;
    border-color: #5AC384 !important;
    padding: 0.5rem 2rem !important;
    width: 90vw!important;
  }
  .customButton:hover{
    color: white;
    background-color: #D25858 !important;
    border-radius: 30px !important;
    border-color: #D25858 !important;
    padding: 0.5rem 2rem !important;
    width: 90vw!important;
  }
}
@media(max-width: 767px)
{
  .customButton{
    color: white;
    background-color: #5AC384 !important;
    border-radius: 30px !important;
    border-color: #5AC384 !important;
    padding: 0.5rem 2rem !important;
    width: 90vw!important;
  }
  .customButton:hover{
    color: white;
    background-color: #D25858 !important;
    border-radius: 30px !important;
    border-color: #D25858 !important;
    padding: 0.5rem 2rem !important;
    width: 90vw!important;
  }
}
@media(max-width: 574px)
{
  .customButton{
    color: white;
    background-color: #5AC384 !important;
    border-radius: 30px !important;
    border-color: #5AC384 !important;
    padding: 0.5rem 2rem !important;
    width: 70vw!important;
  }
  .customButton:hover{
    color: white;
    background-color: #D25858 !important;
    border-radius: 30px !important;
    border-color: #D25858 !important;
    padding: 0.5rem 2rem !important;
    width: 70vw!important;
  }
}
@media(max-width: 576px)
{
  .customButton{
    color: white;
    background-color: #5AC384 !important;
    border-radius: 30px !important;
    border-color: #5AC384 !important;
    padding: 0.5rem 2rem !important;
    width: 70vw!important;
  }
  .customButton:hover{
    color: white;
    background-color: #D25858 !important;
    border-radius: 30px !important;
    border-color: #D25858 !important;
    padding: 0.5rem 2rem !important;
    width: 70vw!important;
  }
}

@media(max-width: 562px)
{
  .customButton{
    color: white;
    background-color: #5AC384 !important;
    border-radius: 30px !important;
    border-color: #5AC384 !important;
    padding: 0.5rem 2rem !important;
    width: 70vw!important;
  }
  .customButton:hover{
    color: white;
    background-color: #D25858 !important;
    border-radius: 30px !important;
    border-color: #D25858 !important;
    padding: 0.5rem 2rem !important;
    width: 70vw!important;
  }
}
@media(max-width: 500px)
{
  .customButton{
    color: white;
    background-color: #5AC384 !important;
    border-radius: 30px !important;
    border-color: #5AC384 !important;
    padding: 0.5rem 2rem !important;
    width: 70vw!important;
  }
  .customButton:hover{
    color: white;
    background-color: #D25858 !important;
    border-radius: 30px !important;
    border-color: #D25858 !important;
    padding: 0.5rem 2rem !important;
    width: 70vw!important;
  }
}