@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.bg-homePage{
    background-color:#1A213E !important;
  }

  .nav-link{
    color: white !important;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .link{
    color: white !important;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .contactBtn{
    background-color: #D25858;
    border-radius: 20rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white !important;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: none !important; 
    box-shadow:none;
    border: none !important;
  }  
 
  .navbar-toggler {
    text-decoration: none;
    outline: none !important; 
    box-shadow:none;
    border: none !important;
  }  